.fondo1 {
	background-color:#034AC0;

}
#centro {
	text-align: center;
}
h2 {
	text-align: center;
}
p {
	text-align: center;
}
h1 {
	text-align: center;
}
.ffo {
	background-color:white;

}
.fondo2 {
	background-color: #08B5D3;
}
h5	{
	text-align: center;

}
#pos {
	text-align: left;
}